Checks: '
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  cppcoreguidelines-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -modernize-use-auto,
  -llvmlibc-*,
  -fuchsia-*,
  -android-*,
  -objc-*,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -bugprone-easily-swappable-parameters,
  -performance-no-int-to-ptr,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-union-access,
'
HeaderFilterRegex: 'src/QFO2Tool/[a-zA-Z0-9_].*'
