# Build output
build/
out/
Release/
src/Release/
**/debug/

# Compiled objects
*.o
*.lo
*.slo
*.obj
*.ipdb
*.iobj
*.tlog

# Visual Studio
.vs/
*.vcxproj.user
/UpgradeLog*.htm
/x64

# CMake
CMakeFiles
CMakeCache.txt
CMakeUserPresets.json
*.cmake
!cmake/*.cmake

# IDE / editor
.vscode/
.cache/clangd/index
imgui.ini
